{{ template "header" }}

<div class="container">
  <h1>Interfaces</h1>

  <table class="table table-bordered">
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>MAC</th>
    <th>Addresses</th>
  </thead>
  <tbody>
  {{ range $iface := getInterfaces }}
    <tr>
      <td>{{ $iface.Index }}</td>
      <td>{{ $iface.Name }}</td>
      <td>{{ $iface.HardwareAddr.String }}</td>
      <td>{{ getInterfaceIPAddressesString $iface }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
</div>

{{ template "footer" }}